<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assinment</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <img src="~/images/Capture.PNG" alt="logo" style="left" />
        <div class="container">
            <div class="navbar-header">
               
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("About Us", "AboutUs", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Content Us", "ContentUs", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("FaQ", "FaQ", "Home", new { area = "" }, new { @class = "navbar-brand" })
 
</div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-left">
                    
                    <li class="dropdown">
                        <a href="@Url.Action("Index","Home")" class="dropdown-toggle" data-toggle="dropdown">Link2<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Home")">picture</a></li>
                            <li><a href="@Url.Action("picture","Home")">picture1</a></li>
                            <li><a href="@Url.Action("picture2","Home")">picture2</a></li>
                            <li><a href="@Url.Action("picture3","Home")">picture3</a></li>
                            <li><a href="@Url.Action("picture4","Home")">picture4</a></li>
                            
                            
                        </ul>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>