@model IEnumerable<NotreDameHumber_Website.Controllers.tblDoctor>

@{
    ViewBag.Title = "SearchDoctor_list_admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of doctors</h2>

<p>
    @Html.ActionLink("Add new doctor", "SearchDoctor_create_admin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.ActionLink("Edit", "SearchDoctor_edit_admin", new { id = item.DoctorId }) |
                @Html.ActionLink("Details", "SearchDoctor_details_admin", new { id = item.DoctorId }) |
                @Html.ActionLink("Delete", "SearchDoctor_delete_admin", new { id = item.DoctorId })
            </td>
        </tr>
    }

</table>
