@model NotreDameHumber_Website.Controllers.tblDoctor

@{
    ViewBag.Title = "SearchDoctor_edit_admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchDoctor_edit_admin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DoctorId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Specialization, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Specialization", new List<SelectListItem>{
               new SelectListItem {Text="Therapist", Value="Therapist" },
               new SelectListItem {Text="Ophthalmologist", Value="Ophthalmologist" },
               new SelectListItem {Text="Cardiologist", Value="Cardiologist" },
               new SelectListItem {Text="Surgeon", Value="Surgeon" },
               new SelectListItem {Text="Pediatrician", Value="Pediatrician" }
               })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Department", new List<SelectListItem>{
               new SelectListItem {Text="Therapeutic", Value="Therapeutic" },
               new SelectListItem {Text="Ophthalmology", Value="Ophthalmology" },
               new SelectListItem {Text="Cardiology", Value="Cardiology" },
               new SelectListItem {Text="Surgery", Value="Surgery" },
               new SelectListItem {Text="Pediatrics", Value="Pediatrics" }
               })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Experience", new List<SelectListItem>{
               new SelectListItem {Text="Less than 1 year", Value="Less than 1 year" },
               new SelectListItem {Text="1-3 years", Value="1-3 years" },
               new SelectListItem {Text="4-7 years", Value="4-7 years" },
               new SelectListItem {Text="8-10 years", Value="8-10 years" },
               new SelectListItem {Text="More than 10 years", Value="More than 10 years" }
               })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Info, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("Info", new { cols = 60, rows = 10, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
