@model IEnumerable<NDHLee.Models.Volunteer>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStart)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ApplicationStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationStart)
        </td>
        <td>
            @Html.ActionLink("Approve", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
