@model IEnumerable<NotreDameHumber_Website.Controllers.tblDonation>

@{
    ViewBag.Title = "Donate_list_order_amount_admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of donations</h2>

<p>
    @Html.ActionLink("Order by Registration", "Donate_list_admin") |
    @Html.ActionLink("Order by Name", "Donate_list_order_name_admin") |
    @Html.ActionLink("Order by Amount", "Donate_list_order_amount_admin")
</p>

<table class="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Amount&nbsp;(CAD)</p>
        </th>
        <th>
            <p>Email</p>
        </th>
        <th>
            <p>Address</p>
        </th>
        <th>
            <p>Phone</p>
        </th>
        <th>
            <p>Registration</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regdate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Donate_edit_admin", new { id = item.DonationId }) |
                @Html.ActionLink("Delete", "Donate_delete_admin", new { id = item.DonationId })
            </td>
        </tr>
    }

</table>
