@model NotreDameHumber_Website.Controllers.tblDoctor

@{
    ViewBag.Title = "Information about the doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/sd_details_delete_style.css" rel="stylesheet" />

<h2>Information about the doctor</h2>

<div id="sd_box_1">

    <hr />

    <div id="sd_left_col">
        <img src="@Url.Content(Model.Photo)" />
    </div>

    <div id="sd_right_col">
        <p><b>Name:</b> @Html.DisplayFor(model => model.Name)</p>
        <p><b>Specialization:</b> @Html.DisplayFor(model => model.Specialization)</p>
        <p><b>Department:</b> @Html.DisplayFor(model => model.Department)</p>
        <p><b>Experience:</b> @Html.DisplayFor(model => model.Experience)</p>
        <p><b>Info:</b> @Html.DisplayFor(model => model.Info)</p>

    </div>

</div>

<div id="sd_box_2">
    <p>
        @Html.ActionLink("Back to list of doctors", "Index_user")
    </p>
</div>