@model NotreDameHumber_Website.Controllers.tblDoctor

@{
    ViewBag.Title = "Edit the profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit the profile</h2>

@using (Html.BeginForm("Edit_admin", "SearchDoctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DoctorId)

        <div class="form-group">
            <label class="control-label col-md-2">Name&nbsp;*</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Specialization&nbsp;*</label>
            <div class="col-md-10">
                @Html.DropDownList("Specialization", new List<SelectListItem>{
                   new SelectListItem {Text="Therapist", Value="Therapist" },
                   new SelectListItem {Text="Ophthalmologist", Value="Ophthalmologist" },
                   new SelectListItem {Text="Cardiologist", Value="Cardiologist" },
                   new SelectListItem {Text="Surgeon", Value="Surgeon" },
                   new SelectListItem {Text="Pediatrician", Value="Pediatrician" }
                })
                @Html.ValidationMessageFor(model => model.Specialization, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Department&nbsp;*</label>
            <div class="col-md-10">
                @Html.DropDownList("Department", new List<SelectListItem>{
                   new SelectListItem {Text="Therapeutic", Value="Therapeutic" },
                   new SelectListItem {Text="Ophthalmology", Value="Ophthalmology" },
                   new SelectListItem {Text="Cardiology", Value="Cardiology" },
                   new SelectListItem {Text="Surgery", Value="Surgery" },
                   new SelectListItem {Text="Pediatrics", Value="Pediatrics" }
                })
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Photo&nbsp;*</label>
            <div class="col-md-10">
                <input type="file" name="file" id="file" />
                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Experience&nbsp;*</label>
            <div class="col-md-10">
                @Html.DropDownList("Experience", new List<SelectListItem>{
                   new SelectListItem {Text="Less than 1 year", Value="Less than 1 year" },
                   new SelectListItem {Text="1-3 years", Value="1-3 years" },
                   new SelectListItem {Text="4-7 years", Value="4-7 years" },
                   new SelectListItem {Text="8-10 years", Value="8-10 years" },
                   new SelectListItem {Text="More than 10 years", Value="More than 10 years" }
                })
                @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Info&nbsp;*</label>
            <div class="col-md-10">
                @Html.TextArea("Info", new { cols = 60, rows = 10, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list of doctors", "Index_admin")
</div>
