@model IEnumerable<NotreDameHumber_Website.Controllers.tblDoctor>

@{
    ViewBag.Title = "List of Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Doctors</h2>

<br />

<div>

    @using (@Html.BeginForm("Index_user", "SearchDoctor", FormMethod.Get))
    {
        <b>Search by:</b><br />
        @Html.RadioButton("SearchBy", "Name", true) <text>Name</text><br />
        @Html.RadioButton("SearchBy", "Specialization") <text>Specialization</text><br />
        @Html.RadioButton("SearchBy", "Department") <text>Department</text><br />

        @Html.TextBox("search") <input type="submit" value="Search" />
    }

</div>
<br /><br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.ActionLink("Details", "Details_user", new { id=item.DoctorId })
        </td>
    </tr>
}

</table>
