@model NotreDameHumber_Website.Models.Parking1
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thêm sản phẩm</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label for="item_name">Tên sản phẩm</label>
                @Html.TextBoxFor(x => x.item_name, new { @class = "form-control", placeholder = "Tên sản phẩm" })
                @Html.ValidationMessageFor(x => x.item_name)
            </div>

            <div class="form-group">
                <label for="item_number">Mã sản phẩm</label>
                @Html.TextBoxFor(x => x.item_number, new { @class = "form-control", placeholder = "Mã sản phẩm" })
                @Html.ValidationMessageFor(x => x.item_number)
            </div>

            <div class="form-group">
                <label for="amount">price</label>
                @Html.TextBoxFor(x => x.amount, new { @class = "form-control", placeholder = "Giá sản phẩm" })
                @Html.ValidationMessageFor(x => x.amount)
            </div>

            <div class="form-group">
                <label for="quantity">number</label>
                @Html.TextBoxFor(x => x.quantity, new { @class = "form-control", placeholder = "Số lương sản phẩm" })
                @Html.ValidationMessageFor(x => x.quantity)
            </div>
            <div class="form-group">
                <label for="hours">Select Hours:</label>
                @Html.DropDownListFor(x => x.hours, new List<SelectListItem>
           {
               new SelectListItem() {Text= "1", Value="1"},
               new SelectListItem() {Text= "2", Value="2"}
           })
            </div>

            <button type="submit" class="btn btn-success">Thêm vào giò hàng</button>
        }
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Thanh toán", "Index", new { controller = "Paypal1" }, new { @class = "btn btn-primary" })
    </div>
</body>
</html>
