@model NotreDameHumber_Website.Models.Parking1
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parking payment</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label for="item_name">Your name</label>
                @Html.TextBoxFor(x => x.item_name, new { @class = "form-control", placeholder = "Your name" })
                @Html.ValidationMessageFor(x => x.item_name)
            </div>

            <div class="form-group">
                <label for="item_number">Car plate last 3 numbers</label>
                @Html.TextBoxFor(x => x.item_number, new { @class = "form-control", placeholder = "Ex. 123" })
                @Html.ValidationMessageFor(x => x.item_number)
            </div>

            <div class="form-group">
                <label for="amount">price:$4/Hours</label>
                @Html.HiddenFor(x => x.amount, new { @Value = 4, @class = "form-control", placeholder = "" })
                @Html.ValidationMessageFor(x => x.amount )
                <script>
                   
                </script>
            </div>

            <div class="form-group">
                <label for="quantity">How many hours you want to stay?</label>
                @Html.TextBoxFor(x => x.quantity, new { @class = "form-control", placeholder = "hours" })
                @Html.ValidationMessageFor(x => x.quantity)
            </div>
            <div class="form-group">
                <label for="hours">Select area:</label>
                @Html.DropDownListFor(x => x.hours, new List<SelectListItem>
           {
               new SelectListItem() {Text= "A", Value="1"},
               new SelectListItem() {Text= "B", Value="2"}
           })
            </div>
            <script>
                alert("After your fill out form ,submit first then Please  click  'pay right now' botton to checkout your payment")
            </script>

            <button type="submit" class="btn btn-success">(1*) Submit</button>
           @Html.ActionLink("(2*)Pay Right Now", "Index", new { controller = "Paypal1" }, new { @class = "btn btn-primary" })
            //paypal username : s08150br@gmail.com  password:liu1989
        }
        <div class="col-md-12">
            
        </div>
    </div>
   
</body>
</html>
