<!DOCTYPE html>
<html>

<body>
       
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 middle">
                    @Html.ActionLink("Create Event", "Index", "AdminEvents", new { area=""}, new { @class = "btn btn-default" })
                    @Html.ActionLink("Donation", "Index_admin", "Donation", new { area = "" }, new { @class = "btn btn-default" })
                    @Html.ActionLink("FAQ Display", "Index_admin", "FAQ", new { area = "" }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Feedback", "Index", "FeedbackAdmin", new { area = "" }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Create Jobs", "Index", "JobsAdmin", new { area = "" }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Newsletters", "Index", "NewsletterAdmin", new { area = "" }, new { @class = "btn btn-default" })


                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
       
        </div>
    </main>


</body>
</html>