@model NotreDameHumber_Website.Controllers.tblFAQ

@{
    ViewBag.Title = "Answer the question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Answer the question</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QuestionId)

        <div class="form-group">
            <label class="control-label col-md-2">Name&nbsp;*</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Category&nbsp;*</label>
            <div class="col-md-10">
                @Html.DropDownList("Category", new List<SelectListItem> {
                   new SelectListItem {Text="General", Value="General" },
                   new SelectListItem {Text="Insurnce", Value="Insurnce" },
                   new SelectListItem {Text="Donation", Value="Donation" },
                   new SelectListItem {Text="Services", Value="Services" }
                })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Question&nbsp;*</label>
            <div class="col-md-10">
                @Html.TextArea("Question", new { cols = 60, rows = 10, @class = "form-control", @readonly = "true" })
                @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Answer&nbsp;*</label>
            <div class="col-md-10">
                @Html.TextArea("Answer", new { cols = 60, rows = 10, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Date&nbsp;*</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Status&nbsp;*</label>
            <div class="col-md-10">
                @Html.DropDownList("Status", new List<SelectListItem>{
                   new SelectListItem {Text="Invisible", Value="Invisible" },
                   new SelectListItem {Text="Visible", Value="Visible" }
                })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list of questions", "Index_admin")
</div>
