@model IEnumerable<NotreDameHumber_Website.Controllers.tblFAQ>

@{
    ViewBag.Title = "List of questions (without answers)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of questions (without answers)</h2>

<p>
    @Html.ActionLink("All questions", "Index_admin") |
    @Html.ActionLink("Questions with answers", "Index_with_answers_admin") |
    @Html.ActionLink("Questions without answers", "Index_without_answers_admin")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Answer", "Edit_admin", new { id = item.QuestionId }) |
                @Html.ActionLink("Delete", "Delete_admin", new { id = item.QuestionId })
            </td>
        </tr>
    }

</table>
