@model IEnumerable<NotreDameHumber_Website.Controllers.AdminEvent>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventWebsite)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventWebsite)
        </td>
        <td>
            
            @Html.ActionLink("Register for Event", "Create", "RegisterEvent", new { Id = item.EventId }, null)
        </td>
    </tr>*@


    <div class="listEvents">
        <div class="container">
            <div class="row">
                @*<div class="col-md-12 col-sm-12 col-xs-12">*@
              
                    <div class="col-md-2">
                        <h2>@Html.DisplayFor(modelItem => item.EventName)</h2>
                    </div>
                    <div class="col-md-8">
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <div class="col-md-2">
                        <h4>@Html.DisplayFor(modelItem => item.Date)</h4>
                        <div class="btn">
                            @Html.ActionLink("Register for Event", "Create", "RegisterEvent") <br />
                        </div>
                        <div class="btn">
                            @Html.ActionLink("View Details", "Details", new { id = item.EventId })
                        </div>
                    </div>



                </div>
            </div>

        </div>

}


