@model IEnumerable<NDHLee.Models.Volunteer>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div class="container">
    <div class="row">
        <div class="container">
            <div class="col-lg-6">
                <div class="container">
                    <h3>New Volunteer Applicants</h3>
                    @Ajax.ActionLink("Recent", "RecentApplicant", new AjaxOptions
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "applicant_list",
                               InsertionMode = InsertionMode.Replace
                           })
                    <span> | </span>

                    @Ajax.ActionLink("Earliest", "EarliestApplicant", new AjaxOptions
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "applicant_list",
                   InsertionMode = InsertionMode.Replace
               })
                    <span> | </span>

                    @Ajax.ActionLink("Order by first name", "ApplicantFirstNameAZ", new AjaxOptions
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "applicant_list",
                   InsertionMode = InsertionMode.Replace
               })
                    <span> | </span>

                    @Ajax.ActionLink("Order by last name", "ApplicantLastNameAZ", new AjaxOptions
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "applicant_list",
                   InsertionMode = InsertionMode.Replace
               })
                    <div id="applicant_list">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <h3>Current Volunteers</h3>
                    @Ajax.ActionLink("Recent", "RecentVolunteer", new AjaxOptions
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "approved_list",
                   InsertionMode = InsertionMode.Replace
               })
                    <span> | </span>

                    @Ajax.ActionLink("Earliest", "EarliestVolunteer", new AjaxOptions
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "approved_list",
                   InsertionMode = InsertionMode.Replace
               })
                    <span> | </span>

                    @Ajax.ActionLink("By first name", "VolunteerFirstNameAZ", new AjaxOptions
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "approved_list",
                   InsertionMode = InsertionMode.Replace
               })
                    <span> | </span>

                    @Ajax.ActionLink("By last name", "VolunteerLastNameAZ", new AjaxOptions
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "approved_list",
                   InsertionMode = InsertionMode.Replace
               })
                    <div id="approved_list">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <h3>@Html.ActionLink("Testimonials", "Testimonial")</h3>
            @Ajax.ActionLink("Published", "TestimonialsTrue", new AjaxOptions
       {
           HttpMethod = "GET",
           UpdateTargetId = "testimonial_list",
           InsertionMode = InsertionMode.Replace
       })
            <span> | </span>
            @Ajax.ActionLink("Not published", "TestimonialsFalse", new AjaxOptions
       {
           HttpMethod = "GET",
           UpdateTargetId = "testimonial_list",
           InsertionMode = InsertionMode.Replace
       })
            <div id="testimonial_list">

            </div>
        </div>
    </div>
</div>